.movie{
    text-align: center;
}

.poster-movie{
    height: 250px;
}

.movies-grid{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}

.title-card{
    min-height: 65px;
    font-weight: bold;
    
}

.movie-card{
    text-align: center;
    border: solid green 1px;
    margin: 1.5%;
    padding: 8px;
    height: 420px;
    width: 300px;
    border-radius: 8px;
    box-shadow: #919192 2px 2px 2px;
}

p#overview{
    text-align: justify;
}
main{
    text-align: center;
}
