{% extends 'base.html' %}

{% block content %}

<section class="container col-8">

    <form  action="" method="post">
        {% csrf_token %}

        <div class="form-group">
          <label for="movie">Título no filme</label>
          <input class="form-control" type="text" name="movie" id="movie">
        </div>

        <input type="submit" value="buscar" class="btn btn-primary">

    </form> 
</section>

<section class="container movies-grid" >
    {% if list_movie %}
        {% for movie in list_movie %}
            <div class="movie-card">
                <h5 class="title-card" >{{ movie.title }}</h5>
                <figure>
                    <img class="poster-movie" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt="" srcset="">
                </figure>
                
                <form action="{% url 'core:add_movie' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="movieDB-id" value="{{ movie.id }}">
                    <input type="hidden" name="movie-title" value="{{ movie.title }}">
                    <input type="hidden" name="overview" value="{{ movie.overview }}">
                    <input type="hidden" name="date-release" value="{{ movie.release_date }}">
                    <input type="hidden" name="url-image" value="{{ movie.poster_path }}">

                    <input type="submit" value="adicionar" class="btn btn-success">
                </form>
            </div>
        {% endfor %}
    {% endif %}
</section>

{% endblock %}