{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>cadastro</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="{% url 'core:index' %}">Videoteca</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'core:user_register' %}">Cadastrar Usuário<span class="sr-only">(Página atual)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'core:get_users' %}">Usuários Cadastrados<span class="sr-only">(Página atual)</span></a>
                    </li>

                    
                    {% if user.is_authenticated %}

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'core:movie_register' %}">Cadastrar Filme<span class="sr-only">(Página atual)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'core:my_favorite_movies' %}">Meus filmes favoritos<span class="sr-only">(Página atual)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'core:logout' %}">Logout<span class="sr-only">(Página atual)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'core:update_user' %}">Usuário Logado: <b>{{ user.username }}</b><span class="sr-only">(Página atual)</span></a>
                        </li>
                    
                    {% else %}


                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'core:login' %}">Login<span class="sr-only">(Página atual)</span></a>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">

        <h1>{{ title_page }}</h1>

        {% block content %}

        {% endblock %}

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>